/4 - Data Types/lab03/lab03/.OTTER_LOG
/4 - Data Types/lab03/lab03/array_multiplication.jpg
/4 - Data Types/lab03/lab03/array_round.jpg
/4 - Data Types/lab03/lab03/chaining_method_calls.png
/4 - Data Types/lab03/lab03/data8logo.png
/4 - Data Types/lab03/lab03/excel_array.jpg
/4 - Data Types/lab03/lab03/imdb.csv
/4 - Data Types/lab03/lab03/java.png
/4 - Data Types/lab03/lab03/lab03.ipynb
/4 - Data Types/lab03/lab03/lab03_2025_09_08T10_54_58_106867.zip
/4 - Data Types/lab03/lab03/lab03_2025_09_08T10_55_49_243133.zip
/4 - Data Types/lab03/lab03/lab03_2025_09_08T10_56_39_762976.zip
/4 - Data Types/lab03/lab03/lab03_2025_09_08T10_58_19_593013.zip
/4 - Data Types/lab03/lab03/more_restaurant_bills.csv
/4 - Data Types/lab03/lab03/statement.jpg
/4 - Data Types/lab03/lab03/world_population.csv
